# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
s3fs

# webpage
streamlit
google.cloud

# utilities
six>=1.14
termcolor
Pillow
google.cloud
